* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial;
    background-color: #DDDDDD;
}

header {
    height: 9vh;
    background: #AF0404;
    box-shadow: 0 0 1rem #FF0000;
    display: flex;
    justify-content: space-between;
    color: #FFFFDE;
}

.imagem {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}


ul {
    display: flex;
    margin: 50px;
}

li {
    color: #EEEEEE;
    list-style-type: none;
    cursor: pointer;
    padding-left: 2rem;
    font-size: 15px;
}

h3 {
    height: 30%;
    background-color: #F6E9E9;
    border-radius: 50px;
    width: 80%;
    margin-top: 15px;
    margin-bottom:20px;
    display: flex;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}


#bbc {
    background: #FFFFDE;
    margin: 0px;
    padding: 3vh;
    font-size: 23px;
    width: 100%;
    border-radius: 12px;
}

#bbc2 {
    background: #FFFFDE;
    margin: 0px;
    padding: 3vh;
    font-size: 23px;
    width: 100%;
    border-radius: 12px;
}

#bbc3 {
    background: #FFFFDE;
    margin: 0px;
    padding: 3vh;
    font-size: 23px;
    width: 100%;
    border-radius: 12px;
}

#bbc4 {
   background: #FFFFDE;
    margin: 0px;
    padding: 3vh;
    font-size: 23px;
    width: 100%;
    border-radius: 12px;
}

td {
    text-align: center;
    vertical-align: middle;
}



a {
    color: #EEEEEE;
    text-decoration: none;
    
}

footer {
    height: 3vh;
    box-sizing: border-box;
    margin: 0;
    background-color: #AF0404;
    width: 100%;
    box-shadow: 0 0 1rem #FF0000;
}

footer, .rodape {
    text-decoration: none;
    display: inline-block;
    padding-right: 20px;
    text-align: center;
}

.rodape {
    margin: 0;
    height: 8px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 10px;
}